
.icons
{
    position: relative;
    display: flex;
    gap: 25%;
    top: 20px;
    justify-content: left;
}
main
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3%;
    height: 300px;

}
main a 
{
    position: relative;
    left: 5%;
    top: 200px;
    text-align: center;
    background-color: #07294b;
    border-radius: 10px;
}

main a  progress
{
    width: 95%;
    height: 30px;
    appearance: none;

}
main a  progress::-webkit-progress-bar, .Drive_Path
{
    color: snow;
    background-color: #01142b;

}
main a progress::-webkit-progress-value {
    background-color: #063292; /* green */
    
}

footer
{
    position: relative;
    background-color: #07294b;
    border-radius: 10px;
    top: 300px;
    text-align: center;
    
}
