@import url('website_colour.css');
.holder_of_drives
{
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    margin-top: 30px;
}
.holder_of_drives section
{
    background-color: var(--other-colour);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.holder_of_drives section div
{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.holder_of_drives section progress
{
    width: 95%;
    height: 50px;
}

.Add_new_drive
{
    height: 100px;
    align-items: center;
    text-align: center;
}
.Add_new_drive i
{
    position: relative;
    top: 40px;
}
 .drives i
 {
    position: relative;
    top: 15px;
    
 }
.drive_status
{
    position: relative;
    top: 10px;
}
.drives div
{
    background-color: var(--offset-colour);
    border-radius: 10px;
}
.holder_of_drives section:hover 
{
background-image: linear-gradient(to bottom, #0652aa, #01295e);
}
.holder_of_drives section:hover div
{
    background-color: #032f5c;
    border: 2px solid black;
}