form
{
    position: relative;
    left: 27%;
    top: 150px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: var(--other-colour);
    width: 45%;
    height: 400px;
    box-shadow: 10px 10px 100px #04111d 10px 10px 100px #071c30 10px 10px 100px rgb(4, 17, 29);
}
form input, button
{
    width: 95%;
    height: 30px;
    border-radius: 10px;
    background-color: var(--offset-colour) ;
    color: snow;
}
button
{
    display: grid;
    grid-template-columns: 20% 60%;


}
.custom_button h2
{
    text-align: start;
    position: relative;
    bottom: 5px;
}
.custom_button h3
{
    text-align: center;
}
.user_input
{
    position: relative;
    top: 20px;

    margin-bottom: 10px;
}
.user_input h2
{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
 
}

.Other_inputs
{
    position: relative;
    top: 50px;

}
.Other_inputs div
{
    position: relative;
    display: flex;
    width: 95%;
    gap: 5%;
    margin-left: 3%;
        color: snow;
    
}
.Other_inputs div button
{
    height: 50px;
}
.other_other
{
    position: relative;
    top: 40px;
    text-align: center;
    align-items: center;
    color: snow;
}
.other_other a
{
    position: relative;
    left: 32%;
}
input:hover, a:hover
{
    background-color: #041322;
}