@import url(website_colour.css);

a {
    color: snow;
    list-style: none;
}
html
{

    overflow-y: scroll;
}

html, body {
    min-height: 100vh;

    margin: 0;
    padding: 0;
    color: snow;

}

body {
        background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
header
{
    display: grid;
    grid-template-columns: 40% 30% 10%;
    gap: 1rem;
    border-bottom: 2px solid rgba(255, 250, 250, 0.514);
}